@inherits FieldComponentBase

<div class="cf-field cf-field-unknown">
    <FieldLabel Control="Control" />
    <div class="cf-unknown-notice" role="note">
        Unsupported control type '<code>@Control.ControlType</code>'. The value is shown read-only and preserved on save.
    </div>
    <pre class="cf-unknown-value">@CurrentString</pre>
    <FieldDescription Control="Control" />
</div>
