<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfigForge Demo</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/ConfigForge.Blazor/configforge.css" />
    <link rel="stylesheet" href="demo.css" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="demo.js"></script>
</body>

</html>
